<main class="bg-light">
    <div class="container py-5">
        <h1 class="text-center mb-4">Bienvenido, Administrador</h1>
        <div class="d-flex flex-wrap justify-content-center gap-3">
            <a href="/admin/listarUsuarios" class="btn btn-primary btn-lg px-5">Listar Usuarios</a>
            <a href="/admin/listarPartidas" class="btn btn-success btn-lg px-5">Listar Partidas</a>
            <a href="/admin/listarPreguntas" class="btn btn-warning btn-lg px-5">Listar Preguntas</a>
        </div>
    </div>

</main>
