<div>
                {{#error_al_agregar}}
                    <div class="alert alert-danger" role="alert">
                        {{error_al_agregar}}
                    </div>
                {{/error_al_agregar}}
   <form method="POST" action="/agregarPregunta/agregar">
    <label for="pregunta">Pregunta:</label>
       <input type="text" class="input-pregunta" id="pregunta" name="pregunta" required>
       <br><br>
       <label for="opcion1">Opción 1: </label>
       <input type="text" class="input-opcion" id="opcion1" name="opcion1" required>
       <br><br>
       <label for="opcion2">Opción 2: </label>
       <input type="text" class="input-opcion" id="opcion2" name="opcion2" required>
       <br><br>
       <label for="opcion3">Opción 3: </label>
       <input type="text" class="input-opcion" id="opcion3" name="opcion3" required>
       <br><br>
       <label for="opcionCorrecta">Opción correcta: </label>
       <input type="text" class="input-opcion-correcta" id="opcionCorrecta" name="opcionCorrecta" required>
       <br><br>
       <label for="nivel">Nivel: </label>
       <select name="nivel" id="nivel">
         <option value="facil">Fácil</option>
         <option value="normal">Normal</option>
         <option value="dificil">Difícil</option>
       </select>
       <br><br>
       <button type="submit">Agregar</button>
    </form>    
</div>