<body>
    <div class="header">
        <div>Trivia Gaucha</div>
    </div>
    <div class="main-content">
        <h2>Lobby</h2>
        <p>Bienvenido, {{user}}</p>
        <div class="btn-group">
             <a href="../modificarPregunta" class="btn-home">Ver preguntas</a>
        </div>
    </div>
