<body>
    <div class="header">
        <div>Trivia Gaucha</div>
    </div>
    <div class="main-content">
        <h2>Lobby</h2>
        <p>Bienvenido, {{user}}</p>
        <div class="btn-group">
             <a href="../agregarPregunta" class="btn-home">Agregar pregunta</a>
             <a href="../verPreguntas" class="btn-home">Ver preguntas</a>
             <a href="../verSugeridas" class="btn-home">Ver preguntas sugeridas</a>
             <a href="../verReportes" class="btn-home">Ver preguntas reportadas</a>
        </div>
    </div>
