<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-success">¡Ganaste!</h1>
        <p class="lead">¡Felicidades! Has respondido correctamente.</p>
        <a href="/partida/reanudar?id_partida={{id_partida_actual}}" class="btn btn-success mt-3">Continuar</a>
    </div>
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <a href="/home" class="btn btn-primary btn-block">Volver al Home</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
