<body>
    <div class="header">
        <div>Nombre de la página</div>
    </div>
    <div class="main-content">
        <h2>Lobby</h2>
        <p>Bienvenido, {{ user }}</p>
        <div class="btn-group">
            <a href="../partida" >jugar</a>
            <a href="../ranking" >Ver ranking</a>
            <a href="../perfil" >Visitar mi perfil</a>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Puntaje total</th>
                        <th>Cantidad de respuestas</th>
                        <th>Estado</th>
                        <th>Continuar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fecha</td>
                        <td>Puntaje total</td>
                        <td>Cantidad de respuestas</td>
                        <td>Estado</td>
                        <td><button class="btn">Continuar</button></td>
                    </tr>
                    <tr>
                        <td>Fecha</td>
                        <td>Puntaje total</td>
                        <td>Cantidad de respuestas</td>
                        <td>Estado</td>
                        <td><button class="btn">Continuar</button></td>
                    </tr>
                    <tr>
                        <td>Fecha</td>
                        <td>Puntaje total</td>
                        <td>Cantidad de respuestas</td>
                        <td>Estado</td>
                        <td><button class="btn">Continuar</button></td>
                    </tr>
                    <tr>
                        <td>Fecha</td>
                        <td>Puntaje total</td>
                        <td>Cantidad de respuestas</td>
                        <td>Estado</td>
                        <td><button class="btn">Continuar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>