<body>
    <div class="header">
        <div>Trivia Gaucha</div>
    </div>
    <div class="main-content">
        <h2>Lobby</h2>
        <p>Bienvenido, {{user}} tu máximo puntaje fue: {{puntaje_maximo}}</p>
        <div class="btn-group">
            <a class="btn-home" href="../partida/jugarNuevaPartida">Nueva partida</a>
            <a class="btn-home" href="../ranking">Ver ranking</a>
            <a class="btn-home" href="../perfil">Visitar mi perfil</a>
        </div>

        <!-- Error de partida -->
        {{#error_partida}}
            <div class="alert alert-danger" role="alert">
                {{error_partida}}
            </div>
        {{/error_partida}}
        {{#opciones}}

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>id de partida</th>
                    <th>Fecha</th>
                    <th>Puntaje total</th>
                    <th>nivel</th>
                    <th>Estado</th>
                    <th>Continuar</th>
                </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>{{id_partida}}</td>
                        <td>{{fecha}}</td>
                        <td>{{puntaje}}</td>
                        <td>{{nivel}}</td>
                        <td>{{estado}}</td>
                        <td>
                            <a href="/partida/reanudar?id_partida={{id_partida}}" class="btn"> Continuar </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        {{/opciones}}

    {{^opciones}}

        <div class="alert alert-danger" role="alert">
            {{not_found}}
        </div>

    {{/opciones}}

    </div>
