<main class="bg-light">
    <div class="container py-5">
        <h1 class="text-center mb-4">Bienvenido, Administrador</h1>
        <div class="d-flex flex-wrap justify-content-center gap-3">
            <a href="/admin/listarUsuarios" class="btn btn-primary btn-lg px-5">Listar en usuarios</a>
            <a href="/admin/listarTotalPartidas" class="btn btn-success btn-lg px-5">Listar total de partidas</a>
            <a href="/admin/listarPreguntas" class="btn btn-warning btn-lg px-5">Listar en preguntas</a>
        </div>
    </div>

    <!--botones    -->
    <div class="p-4">

    <div class="container">

        <div class="d-flex flex-wrap justify-content-center gap-3">
            <!-- Botones con tamaño fijo y alineados en línea -->
            <a href="/admin/jugadoresTotales" class="btn btn-secondary text-white" style="width: 200px;">Ver la cantidad de jugadores totales</a>
            <a href="/admin/usuariosNuevos" class="btn btn-secondary text-white" style="width: 200px;">Cantidad de usuarios nuevos</a>
            <a href="/admin/filtroPais" class="btn btn-secondary text-white" style="width: 200px;">Usuarios por país</a>
            <a href="/admin/filtroSexo" class="btn btn-secondary text-white" style="width: 200px;">Usuarios por sexo</a>
            <a href="/admin/filtroEdad" class="btn btn-secondary text-white" style="width: 200px;">Usuarios por grupo de edad</a>
        </div>

    </div>
    </div>

    {{#fecha}}
        <div class="container mt-5">
            <h1 class="text-center mb-4">Filtrar Registros por Rango de Fechas</h1>
            <div class="card p-4 shadow">
                <form action="/admin/usuariosNuevos" method="GET" class="row g-3">
                    <div class="col-md-4">
                        <label for="fecha_inicio" class="form-label">Fecha Inicio:</label>
                        <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control" required>
                    </div>
                    <div class="col-md-4">
                        <label for="fecha_fin" class="form-label">Fecha Fin:</label>
                        <input type="date" id="fecha_fin" name="fecha_fin" class="form-control" required>
                    </div>
                    <div class="col-md-4 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">Filtrar</button>
                    </div>
                </form>
            </div>
        </div>
    {{/fecha}}

    {{#mostrar_pais}}

        <div class="container mt-5">
            <h1 class="text-center mb-4">Filtrar jugadores por pais y ciudad </h1>
            <div class="card p-4 shadow">
                <form action="/admin/filtroPais" method="GET" class="row g-3">
                    <div class="col-md-4">
                        <label for="pais" class="form-label">Pais:</label>
                        <input type="text" id="pais" name="pais" class="form-control" required>
                    </div>
                    <div class="col-md-4">
                        <label for="ciudad" class="form-label">Ciudad:</label>
                        <input type="text" id="ciudad" name="ciudad" class="form-control" required>
                    </div>
                    <div class="col-md-4 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">Filtrar</button>
                    </div>
                </form>
            </div>
        </div>

    {{/mostrar_pais}}

    {{#filtro_aplicado}}
    <article id="total" style="text-align: center; margin: 0 auto; width: 80%;">
        <h1 style="margin-top: 20px;">{{titulo}}</h1>
        <h3 style="margin-top: 20px;">{{filtro_aplicado}}</h3>
        <div>
            <table style="border-collapse: collapse; margin: 20px auto; width: 100%; max-width: 600px; text-align: center;">
                <thead>
                <tr style="background-color: #333; color: #fff;">
                    <th style="padding: 10px; border: 1px solid #ddd;">{{tipo}}</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Cantidad</th>
                </tr>
                </thead>
                <tbody>
                {{#row}}
                    {{^error}}

                    <tr>
                        <td style="padding: 10px; border: 1px solid #ddd;">{{estado}}</td>
                        <td style="padding: 10px; border: 1px solid #ddd;">{{cantidad}}</td>
                    </tr>
                    {{#cantidad_total}}
                        <tr>
                            <td style="padding: 10px; border: 1px solid #ddd;">cantidad total de jugadores</td>
                            <td style="padding: 10px; border: 1px solid #ddd;">{{cantidad_total}}</td>
                        </tr>
                    {{/cantidad_total}}

                    {{/error}}

                    {{#error}}

                        {{error}}

                    {{/error}}

                {{/row}}
                </tbody>
            </table>
        </div>
    </article>

{{/filtro_aplicado}}

    {{#filtro_edad}}
        <article style="text-align: center; margin: 0 auto; width: 80%;">
            <h1 style="margin-top: 20px;">{{titulo}}</h1>
            <h3 style="margin-top: 20px;">{{filtro_aplicado}}</h3>
            <div>
                <table style="border-collapse: collapse; margin: 20px auto; width: 100%; max-width: 600px; text-align: center;">
                    <thead>
                    <tr style="background-color: #333; color: #fff;">
                        <th style="padding: 10px; border: 1px solid #ddd;">{{tipo}}</th>
                        <th style="padding: 10px; border: 1px solid #ddd;">Cantidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#row}}
                            <tr>
                                <td style="padding: 10px; border: 1px solid #ddd;">Menores de 18 años</td>
                                <td style="padding: 10px; border: 1px solid #ddd;">{{menores}}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px; border: 1px solid #ddd;">Entre 18 y 60 años</td>
                                <td style="padding: 10px; border: 1px solid #ddd;">{{adultos}}</td>
                            </tr>
                            <tr>
                                <td style="padding: 10px; border: 1px solid #ddd;">Mayores de 60 años:</td>
                                <td style="padding: 10px; border: 1px solid #ddd;">{{jubilados}}</td>
                            </tr>

                            {{#cantidad_total}}
                                <tr>
                                    <td style="padding: 10px; border: 1px solid #ddd;">cantidad total de jugadores</td>
                                    <td style="padding: 10px; border: 1px solid #ddd;">{{cantidad_total}}</td>
                                </tr>
                            {{/cantidad_total}}
                    {{/row}}
                    </tbody>
                </table>
            </div>
        </article>

    {{/filtro_edad}}

    {{#generar}}

        <form action="/admin/generarPdf" method="POST">
            <!-- Campos ocultos con los valores pasados desde el controlador -->
            <input type="hidden" name="titulo" value="{{titulo}}">
            <input type="hidden" name="tipo" value="{{tipo}}">
            <input type="hidden" name="filtro" value="{{filtro_aplicado}}">
            <input type="hidden" name="inicio" value="{{inicio}}">
            <input type="hidden" name="fin" value="{{fin}}">
            <input type="hidden" name="cantidad_total" value="{{cantidad_total}}">
            <input type="hidden" name="pais" value="{{pais}}">
            <input type="hidden" name="ciudad" value="{{ciudad}}">
            <input type="hidden" name="filtro_edad" value="{{filtro_edad}}">
            <input type="hidden" name="menores" value="{{menores}}">
            <input type="hidden" name="adultos" value="{{adultos}}">
            <input type="hidden" name="jubilados" value="{{jubilados}}">

            <button type="submit" class="btn btn-success btn-lg">Generar PDF</button>
        </form>

    {{/generar}}

</main>
