<body>
    {{#preguntas}}
            <h2>{{pregunta}}</h2>
            <h3>{{opcion1}}</h3>
            <h3>{{opcion2}}</h3>
            <h3>{{opcion3}}</h3>
            <h3>{{opcion_correcta}}</h3>
            <a href="/modificarPregunta/verPregunta?id={{id_pregunta}}">Modificar</a>
    {{/preguntas}}
</div>
