<div class="pag-perfil container mt-5">

    {{#not_found}}
        <div class="alert alert-danger" role="alert">
            {{not_found}}
        </div>
    {{/not_found}}

    {{#resultado}}
        <div class="alert alert-danger" role="alert">
            {{resultado}}
        </div>
    {{/resultado}}

    {{^not_found}}
        <div class="row justify-content-center">
            <!-- Foto de perfil -->
            <div class="col-md-3 d-flex justify-content-center mb-3">
                <img alt="Foto de perfil" src="/{{foto}}" class="img-fluid rounded-circle" width="150" />
            </div>
            <!-- Información de perfil -->
            <div class="col-md-6">
                <h3><strong>Nombre de usuario:</strong> {{username}}</h3>
                <h3><strong>Email:</strong> {{email}}</h3>
                <h3><strong>estado del jugador: </strong> {{estado}}</h3>
                <h3><strong>Puntaje máximo alcanzado:</strong> {{maximo}}</h3>
                <h3><strong>QR:</strong></h3>
                <h3><strong>Nombre:</strong> {{nombre}}</h3>
                <h3><strong>Sexo:</strong> {{sexo}}</h3>
            </div>
        </div>

        <!-- Mapa -->
        <div class="mt-4">
            <div id="mi_mapa" class="border rounded" style="height: 300px; width: 100%;"></div>
        </div>
    {{/not_found}}

</div>

<a href="/perfil/sugerirPregunta">sugerir pregunta</a>

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
          integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>

  <script>
      // Pasar las variables del backend al JavaScript
      const latitud = {{latitud}};
      const longitud = {{longitud}};

      let map = L.map('mi_mapa').setView([latitud, longitud], 16)

      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png',).addTo(map);

      //marcador
      L.marker([latitud, longitud]).addTo(map).bindPopup("su ubicacion es aqui")


  </script>
