  <div class="pag-perfil">
  <div class="btn-inicio">
   <a href="../home">Inicio</a>
  {{#not_found}}

          <div class="alert alert-danger" role="alert">
              {{not_found}}
          </div>

  {{/not_found}}

  {{^not_found}}
          </div>
              <div class="w3-container mt-5" style="text-align: center;">
                  <h1>Trivia Gaucha</h1>
                  <h2>Perfil</h2>
              </div>
          </div>

          <div class="w3-container mt-5 perfil">
                <div>
                   <img alt="Foto de perfil" src="{{ foto }}" width="100" />
                </div>
                <div>
                <h3>Nombre de usuario: {{user}}</h3>
                    <h3>Email: {{email}}</h3>
                    <h3>Puntaje máximo alcanzado:</h3>
                    <h3>QR</h3>
                    <h3>País: {{pais}}</h3>
                    <h3>Ciudad: {{ciudad}}</h3>
                    <h3>Nombre: {{nombre}}</h3>
                    <h3>Sexo: {{sexo}}</h3>
                </div>             
          </div>

          <div class="w3-container w3-padding">
              <h2 class="mb-3">Listado de partidas</h2>
              <table class="w3-table">
                  <tr>
                      <th>Fecha</th>
                      <th>Puntaje total</th>
                      <th>Nivel</th>
                      <th>Estado</th>
                  </tr>
                 {{#opciones}}
                      <tr>
                          <td>{{fecha}}</td>
                          <td>{{puntaje}}</td>
                          <td>{{nivel}}</td>
                          <td>{{estado}}</td>
                      </tr>
                  {{/opciones}}
              </table>
          </div>
      {{/not_found}}
