<div>
    {{#pregunta}}
    <form method="POST" action="/modificarPregunta/modificar?id={{id_pregunta}}">
       <label for="pregunta">Pregunta:</label>
       <input type="text" class="input-pregunta" placeholder="{{pregunta}}" id="pregunta" name="pregunta">
       <br><br>
       <label for="opcion1">Opción 1: </label>
       <input type="text" class="input-opcion" placeholder="{{opcion1}}" id="opcion1" name="opcion1">
       <br><br>
       <label for="opcion2">Opción 2: </label>
       <input type="text" class="input-opcion" placeholder="{{opcion2}}" id="opcion2" name="opcion2">
       <br><br>
       <label for="opcion3">Opción 3: </label>
       <input type="text" class="input-opcion" placeholder="{{opcion3}}" id="opcion3" name="opcion3">
       <br><br>
       <label for="opcionCorrecta">Opción correcta: </label>
       <input type="text"class="input-opcion-correcta" placeholder="{{opcion_correcta}}"  id="opcionCorrecta" name="opcionCorrecta">
       <br><br>           
      <label for="nivel">Nivel: </label>
       <select name="nivel" id="nivel">
         <option value="actual">{{nivel}}</option>
         <option value="facil">Fácil</option>
         <option value="normal">Normal</option>
         <option value="dificil">Difícil</option>
       </select>
       <br><br>           
       <button type="submit">Modificar</button>
    </form>    
    {{/pregunta}}
</div>