<div>
    {{#pregunta}}
       <input type="text" placeholder="{{pregunta}}" class="input-pregunta">
       <br><br>
       <input type="text" placeholder="{{opcion1}}" class="input-opcion">
       <br><br>
       <input type="text" placeholder="{{opcion2}}" class="input-opcion">
       <br><br>
       <input type="text" placeholder="{{opcion3}}" class="input-opcionn">
       <br><br>
       <input type="text" placeholder="{{opcion_correcta}}" class="input-opcion-correcta">
       <br><br>
       <a href="/modificarPregunta/modificar?id={{id_pregunta}}">Modificar</a>
    {{/pregunta}}
</div>