<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Número</th>
                    <th>Usuario</th>
                    <th>Puntaje total</th> 
                </tr>
                </thead>
                <tbody>
 {{#opciones}}
                    <tr>

                        <td><a href="/ranking/verUsuario?id={{id_usuario}}">{{numero}}</a></td>
                        <td><a href="/ranking/verUsuario?id={{id_usuario}}">{{usuario}}</a></td>
                        <td><a href="/ranking/verUsuario?id={{id_usuario}}">{{puntajeTotal}}</a></td>        
   
                    </tr>
{{/opciones}}
                </tbody>
            </table>
        </div>