<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Número</th>
                    <th>Usuario</th>
                    <th>Puntaje total</th> 
                </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>{{numero}}</td>
                        <td>{{usuario}}</td>
                        <td>{{puntajeTotal}}</td>             
                    </tr>

                </tbody>
            </table>
        </div>