<body>
    {{#sugeridas}}
            <h2>Pregunta: {{pregunta}}</h2>
            <h3>Opción 1: {{opcion1}}</h3>
            <h3>Opción 2: {{opcion2}}</h3>
            <h3>Opción 3: {{opcion3}}</h3>
            <h3>Opción correcta: {{opcion_correcta}}</h3>
            <br>
            <a href="/verSugeridas/aprobar?id={{id_pregunta}}">Aprobar</a>
            <a href="/verSugeridas/rechazar?id={{id_pregunta}}">Rechazar</a>
            <br><br><br>
    {{/sugeridas}}
    <br><br><br>
</div>